
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

main {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
image {
    float: right;
    width:200px;
    height:150px;
}

h1 {
    font-size: 36px;
    color: #fff;
}

h2 {
    font-size: 28px;
    color: #0056b3;
    margin-top: 20px;
}

/* Paragraph styling */
p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
}


.introduction {
    background-color: #ecf0f1; 
}

.academic-achievements {
    background-color: #fff; /* White */
    border: 1px solid #ddd;
}

.academic-achievements ul {
    list-style-type: none;
    padding: 0;
}

.academic-achievements li {
    margin-bottom: 10px;
}

/* Family Background section */
.family-background {
    background-color: #f9e1b7; /* Light yellow */
}

/* Favorite Teacher section */
.favorite-teacher {
    background-color: #d1f2eb; /* Light teal */
}

/* Current Education section */
.current-education {
    background-color: #f0e68c; /* Light yellow */
}

/* Personal Characteristics section */
.personal-characteristics {
    background-color: #f2d7d5; /* Light pink */
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow */
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header, footer {
        padding: 15px 0;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    section {
        padding: 15px;
    }
}
